<div class="app-sidebar colored">
<div class="sidebar-header">
    <a class="header-brand" href="\">
        <div class="logo-img">
           <img src="src/img/brand-white1.svg" class="header-brand-img" alt="lavalite"> 
        </div>
        <span class="text">TaskGenie</span>
    </a>
    <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
    <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
</div>

<div class="sidebar-content">
    <div class="nav-container">
        <nav id="main-menu-navigation" class="navigation-main">
            <div class="nav-lavel">Navigation</div>
            <div class="nav-item active">
                <a href="/customer-dashboard"><i class="ik ik-bar-chart-2"></i><span>Home</span></a>
            </div>
            <div class="nav-item">
                <a href="/jobs"><i class="ik ik-bar-chart-2"></i><span>My Jobs</span></a>
            </div>
            <div class="nav-item">
                <a href="/categories"><i class="ik ik-bar-chart-2"></i><span>Service Categories</span></a>
            </div>
            <div class="nav-item">
                <a href="#!"><i class="ik ik-bar-chart-2"></i><span>Help</span></a>
            </div>
            <div class="nav-item">
                <a href="/logout"><i class="ik ik-bar-chart-2"></i><span>Logout</span></a>
            </div>
        </nav>
    </div>
</div>
</div>